.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: white;
    font-weight: 900;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.left-section {
    display: flex;
    flex: 1;
    align-items: center;
}

.middle-section {
    display: flex;
    justify-content:center;
    align-items: center;
    flex: 1;
    max-width: 500px;
    min-width: 150px;
}

.right-section {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 220px;
    transition: transform 0.15s;

    margin-left: 10px;
}

/**/


.header .header-navigation .header-links {
    display: flex;
    justify-content: space-around;
    gap: 15px;

    list-style: none;
}

.header-links a {
    color: rgb(0, 128, 255);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 16px;
    font-size: 25px;
    border: 3px solid transparent;
    border-radius: 5px;

    text-decoration: none;

    transition: border-color 0.25s, box-shadow 0.25s;
}

.header-links li {
    transition: transform 0.15s;
}

.header-links a:hover {
    border-color: rgb(0, 128, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.header-links li:hover {
    transform: scale(1.05);
}

.header-links li:active {
    transform: scale(0.95);
}
